.top-bar {
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;

    .logo {
        margin: 0;
        color: #222731;

    }

    .switch-mode-btn {
        @include flexbox;
        align-items: center;
        background-color: inherit;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 2.5px;
        color: #697C9A;
        border: none;

        &-dark {
            color: #FFF;
        }
    
        .switch-mode-icon {
            margin-left: 10px;
        }
    }

    @media screen and (max-width: 767px) {
        .logo {
            font-size: 26px;
        }
    }
}

