

* {
    box-sizing: border-box;
    overflow: auto;
}

body {
    font-family: $font-stack;
    height: 100vh;
    background-color: $bg-light;
}

.body-bg-dark {
    background-color: $bg-dark;
    color: #fff;
}

.no-show {
    display: none;
}


.wrapper {
    @include flexbox;
    flex-direction: column; 
    max-width: 730px;
    margin: 80px auto;

    @media screen and (max-width: 767px) {
        width: 90%;
    }

}

