* {
    box-sizing: border-box;
    overflow: auto;
}

body {
    font-family: $font-stack;
    height: 100vh;
    background-color: $bg-light;
}

a {
    text-decoration: none;
}

// Defined dark mode color scheme:
.dark-mode {
    background-color: $bg-dark;
    color: #FFF;

    .main-wrapper {

        .top-bar {

            .logo,
            .switch-mode-btn {
                color: #FFF;
            }

        }

        .username {
            background-color: #1E2A47;
            color: #FFF;
        }

        .output-wrapper {
            background-color: #1E2A47;

            .basic-info-wrapper {

                .basic-info {

                    .login,
                    .created-at {
                        color: #FFF;
                    }

                }

                .bio {
                    color: #FFF;
                }
                
            }

            .stats {
                background-color: #141D2F;
                
                .stat {
                    color: #FFF;

                    .stat-number {
                        color: #FFF;
                    }
                }

            }

            .aside-info {

                .info {
                    color: #FFF;
                    
                    .icon {
                        filter: brightness(0) saturate(100%) invert(100%) sepia(98%) saturate(0%) hue-rotate(327deg) brightness(104%) contrast(102%);
                    }
                }
            }

        }

    }
}

.no-show {
    display: none;
}

.main-wrapper {
    @include flexbox;
    flex-direction: column; 
    max-width: 730px;
    margin: 80px auto;

    @media screen and (max-width: 767px) {
        width: 90%;
    }

}
